/* Place custom css here. */

.nav-button{
	display: none;
}

@media screen and (max-width:  768px){
	.menu{
		position: absolute;
		margin-top: 64px;
		padding: 0 var(--gap);
		inset: 0;
		visibility: hidden;
		display: none;

		flex-direction: column;
		background-color: var(--white);
		z-index: 1;
	}
	.nav-button.clicked + .menu{
		visibility: visible;
		display: flex;
	}
	.menu a{
		font-size: 1.5em;
		margin-bottom: 8px;
	}
	.menu a + a{
		margin-left: 0;
	}
	.nav-button{
		display: inline-block;
		heigth: 64px;
		width: 64px;
		position: relative;
		margin-left: -24px;
	}
	.nav-button > .line{
		display: inline-block;
		position: absolute;
		width: 16px;
		height: 1px;
		background-color: var(--black);
		top: 50%;
		left: 50%;
		animation-timing-function: ease-in-out;
		animation-duration: .3s;
	}
	.nav-button > .top{
		transform: translate(-50%, -3px);
	}
	.nav-button > .bottom{
		transform: translate(-50%, 3px);
	}

	.nav-button.clicked > .top{
		transform: translate(-50%, 0) rotate(45deg);
		animation-name: nav-top;
	}
	.nav-button.clicked > .bottom{
		transform: translate(-50%, 0) rotate(-45deg);
		animation-name: nav-bottom;
	}

	@keyframes nav-top {
	  0% {
	    transform: translate(-50%, -3px) rotate(0);
	  }

	  50% {
	  	transform: translate(-50%, 0) rotate(0);
	  }

	  100% {
	    transform: translate(-50%, 0) rotate(45deg);
	  }
	}

	@keyframes nav-bottom {
	  0% {
	    transform: translate(-50%, 3px) rotate(0);
	  }

	  50% {
	  	transform: translate(-50%, 0) rotate(0);
	  }

	  100% {
	    transform: translate(-50%, 0) rotate(-45deg);
	  }
	}
}
