<header class="header">
  {{ if .IsHome }}
  <h1 class="logo">
    <a class="site-name" href="{{ `` | absURL }}">{{ site.Title }}</a><a class="btn-dark"></a>
  </h1>
  {{ else }}
  <p class="logo">
    <a class="site-name" href="{{ `` | absURL }}">{{ site.Title }}</a><a class="btn-dark"></a>
  </p>
  {{ end }}


  <button class="nav-button" onclick="document.querySelector('.nav-button').classList.toggle('clicked')">
    <span class="line top"></span>
    <span class="line bottom"></span>
  </button>

  {{ with site.Menus.main }}
  <nav class="menu">
    {{ range . }}
    <a class="{{ if eq .URL $url }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
  </nav>
  {{ end }}<!---->

  {{ with $.Scratch.Get "social-list" }}
  <nav class="social">
    <button
      data-no-instant
      class="btn-dark"
      onclick="setDark(!document.body.classList.contains('dark'))"></button>
    {{ range . }}
    <a
      class="{{ . }}"
      style="--url: url(./{{ . }}.svg)"
      href="https://{{ . }}.com/{{ site.Params.Get . }}"
      target="_blank"
    ></a>
    {{ end }}
  </nav>
  {{ end }}
</header>
